/* Estilos para dispositivos com até 600px de largura */
@media only screen and (max-width: 600px) {
    /* Estilos específicos para dispositivos móveis */

    .header-div{
    justify-content: center;
    align-items: center;
    }

   .content{
    display: flex;
    flex-direction: column;
    height: 100%;
   }

   .content-div-button-gitproject{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   .button-gitproject{
    width: 80%;
   }

   .content-main-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
   }

   .content-text-title{
    align-items: center;
    justify-content: space-evenly;
  }

   .title-pag{
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin: 0;
   }

  .images-mobile-view{
    display: flex;
    width: 80%;
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;
    background-size: cover;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
    /*border: 1px solid white;*/
    cursor: pointer;
    max-width: 100%;
    background-image: url('../../../public/image-mobile-view.jpg');
  }

  .link-mobile-view{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .button-getstarted{
    width: 80%;
    height: 43px;
    font-size: 18px;
   }

   .button-getstarted:hover{
    background-color: white;
    color: #410AB6;
    border: 1px solid #410AB6;
    transition: 0.5s;
  }

   .images-header-pag{
    display: none;
   }

  }
  