    .list-animes-component {
    display: flex;
    width: 95%;
    height: 95%;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-x: auto;
  }
  
  .card-animes {
    position: relative;
    width: 500px;
    height: 300px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    font-size: 40px;
    color: white;
    border-radius: 10px;
    margin-top: 4%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.384);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
  }
  
  .anime-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.959);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .card-animes:hover .anime-text {
    opacity: 1;
  }

  .title-cards{
    font-weight: bold;
  }

  .title-cards.more{
    margin-left: 1%;
  }

  .subtitle-cards{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .subtitle-cards img{
    margin-top: 3px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }
